@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "theme.css";
@import "~select2/dist/css/select2.min.css";
@import "select.css";
/* @import "~dropzone/dist/dropzone.css"; */
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "~@fortawesome/fontawesome-free/css/regular.css";
@import "~@fortawesome/fontawesome-free/css/solid.css";
@import "~@fortawesome/fontawesome-free/css/brands.css";